fastapi
uvicorn

langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq
langgraph

chromadb

pandas
numpy

sentence-transformers

wikipedia

duckduckgo-search

python-dotenv

requests

pydantic

# pip install fastapi uvicorn chromadb langchain langchain-community langchain-huggingface langchain-groq sentence-transformers pypdf